@import 'index.scss';

#dutch-form {
  padding: $container-padding;
  max-width: 1000px;
  margin: auto;

  .steps-container {
    padding-top: 50px;
  }
  .step-title-header {
    text-align: left;
  }
}
