@import 'index.scss';

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
}

.success-toast {
  border: 1px solid $light-green !important;
  background-color: lighten($light-green, 20%) !important;
}

.error-toast {
  color: #721c24;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}
