@import 'index.scss';

@keyframes jump {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -120%) scale(1, 1); }
    55% { transform: translate(-50%, -120%) rotate(15deg); }
    60% { transform: translate(-50%, -120%) rotate(-15deg); }
    65% { transform: translate(-50%, -120%) rotate(15deg); }
    70% { transform: translate(-50%, -120%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}

#dutch-form {
  padding: $container-padding;
  max-width: 1000px;
  margin: auto;

  .steps-container {
    padding-top: 50px;
  }
  .step-title-header {
    text-align: left;
  }
}

#share-btn {
  position: fixed;
  bottom: 0px;
  left: 40px;
  z-index: 100;

  font-size: 20px;
  border-radius: 50%;

  border-color: $coral;
  background-color: $coral;

  transform: translate(-50%, -50%);
  animation: jump 1.5s infinite;


  &:hover {
    border-color: darken($coral, 30%) !important;
    background-color: darken($coral, 20%) !important;
  }
}
