@import 'index.scss';

$button-color: $dark-navy;

#currency-button-group label {
    margin-right: 5px;
    background-color: white;
    border: 1px solid $button-color;
    color: $button-color;

    &.active {
      background-color: $light-navy;
      color: white;
    }
}
