@import 'index.scss';

#footer-container {
  background-color: $dark-navy;
  padding: 20px 10px 30px 10px;
  margin-top: 50px;
  text-align: center;
  color: darkgray;

}
#footer-container footer {
  margin-top: 20px;
  color: $base-font;
}
