@import 'index.scss';

.add-button {
  background-color: $dark-green !important;
  border: 1px solid $dark-green !important;

  display: block;
  margin-top: 32px;
  float: right;

  &:hover {
    background-color: darken($dark-green, 10%) !important;
  }

}
