@import 'index.scss';

.progress-step {
  padding: 5px 10px;
  text-align: center;

  .step {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    font-weight: bold;
    min-width: 40px;
    min-height: 40px;
    border: 2.5px solid $dark-navy;
    background-color: white;
    margin: auto;

    .number {
      display: block;
      margin-top: -2px;
    }
  }

  .completed-step {
    background-color: $coral;
    border-color: $coral;
    color: $base-font;
    padding-top: 2px;
  }

  .title {
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 710px) {
  .progress-step {
    .step {
      font-size: 20px;

      .number {
        display: block;
        margin-top: 2.5px;
      }
    }

    .title {
      font-size: 14px;
    }
  }
}
