@import 'index.scss';

$button-color: $coral;

.action-button {
  width: 100%;
  margin-top: 5px;
  border: 1px solid $button-color !important;
  background-color: $button-color !important;
  &:hover {
    background-color: darken($button-color, 20%) !important;
  }
}

#report {
  background-color: white;
  padding: 10px;
}
.report-container {
  margin: -10px;
}

#transaction-table {
  margin-bottom: 0px;
}

@media only screen and (max-device-width: #{350px}) {
  .bill-table-mobile table {
    font-size: 11px;

    th, td {
      padding: 6px;
    }

    th:nth-child(4), td:nth-child(4) {
      max-width: 85px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

@media only screen and (min-device-width: #{351px}) and (max-device-width: #{415px}) {
  .bill-table-mobile table {
    font-size: 13px;

    th, td {
      padding: 6px;
    }

    th:nth-child(4), td:nth-child(4) {
      max-width: 95px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
