@import 'index.scss';

.highlight {
  color: $highlight-color;
  font-weight: 800;
  font-style: italic;
}

.App {
  min-height: 100vh;
}


/* Introduction */
#introduction {
  padding: $container-padding;
  background-color: $base-color;
  color: white;
  text-align: center;

  a {
    color: darkgray;
    &:hover {
      color: $base-font;
    }
  }

  .header {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $base-font;
  }
}

.quote {
  font-size: 2vw;
  color: slategray;
}

@media only screen and (max-device-width: #{$mobile-max-width}) {
  .quote {
    font-size: 14px;
  }
}

.start-button {
  background-color: $light-green !important;
  color: $dark-navy !important;
  font-weight: 600 !important;
  border: 1px solid $dark-navy !important;

  &:hover {
    background-color: $dark-green !important;
    color: $base-font !important;
  }
}

.next-button {
  background-color: $coral !important;
  border: 1px solid $coral !important;
  color: $base-font !important;
  margin-top: 15px;
  position: absolute;
  right: 0;

  &:hover {
    background-color: darken($coral, 20%) !important;
  }
}
