@import "~bootstrap/scss/bootstrap";

/* Theme colors */
$dark-green: #559821;
$green: #8EAF2D;
$light-green: #CFD861;
$coral: #EB5F59;
$light-navy: #2B425A;
$dark-navy: #192938;

$base-font: white;
$base-color: $dark-navy;
$highlight-color: $coral;


$mobile-max-width: 500px;
$container-padding: 5vh 5vw;

body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
